@using Kentico.PageBuilder.Web.Mvc
@using FY19.Models.Widgets
@using FY19.Models.InlineEditors
@using System.Text.RegularExpressions;
@model ComponentViewModel<KMJ_AnchorLinkListProperties>

@functions
{
    private static string HtmlToPlainText(string html)
    {
        const string tagWhiteSpace = @"(>|$)(\W|\n|\r)+<";//matches one or more (white space or line breaks) between '>' and '<'
        const string stripFormatting = @"<[^>]*(>|$)";//match any character between '<' and '>', even when end tag is missing
        const string lineBreak = @"<(br|BR)\s{0,1}\/{0,1}>";//matches: <br>,<br/>,<br />,<BR>,<BR/>,<BR />
        var lineBreakRegex = new Regex(lineBreak, RegexOptions.Multiline);
        var stripFormattingRegex = new Regex(stripFormatting, RegexOptions.Multiline);
        var tagWhiteSpaceRegex = new Regex(tagWhiteSpace, RegexOptions.Multiline);

        var text = html;
        //Decode html specific characters
        text = System.Net.WebUtility.HtmlDecode(text);
        //Remove tag whitespace/line breaks
        text = tagWhiteSpaceRegex.Replace(text, "><");
        //Replace <br /> with line breaks
        text = lineBreakRegex.Replace(text, Environment.NewLine);
        //Strip formatting
        text = stripFormattingRegex.Replace(text, string.Empty);

        return text;
    }

}

@{
    string text1 = string.Empty, text2 = string.Empty, text3 = string.Empty, text4 = string.Empty, text5 = string.Empty, text6 = string.Empty, text7 = string.Empty, text8 = string.Empty, text9 = string.Empty, text10 = string.Empty;
    string url1, url2, url3, url4, url5, url6, url7, url8, url9, url10;
    string className = Model.Properties.Class; // "anchorLinkClass";
    string id = Model.Properties.Id; // "anchorLinkId";

    if (Model.Properties.Text1 != null)
    {
        string tmpText = HtmlToPlainText(Model.Properties.Text1.Replace("Label:", ""));
        text1 = tmpText.Length > 200 ? tmpText.Substring(0, 200) : tmpText;
    }
    else
    {
        text1 = Model.Properties.Text1;
    }
    if (Model.Properties.Url1 != null)
    {
        string tmpUrl = HtmlToPlainText(Model.Properties.Url1.Replace("URL: https://", ""));

        url1 = tmpUrl.Length > 992 ? tmpUrl.Substring(0, 992) : tmpUrl;
    }
    else
    {
        url1 = Model.Properties.Url1;
    }

    if (Model.Properties.Text2 != null)
    {
        string tmpText = HtmlToPlainText(Model.Properties.Text2.Replace("Label:", ""));
        text2 = tmpText.Length > 200 ? tmpText.Substring(0, 200) : tmpText;
    }
    else
    {
        text2 = Model.Properties.Text2;
    }
    if (Model.Properties.Url2 != null)
    {
        string tmpUrl = HtmlToPlainText(Model.Properties.Url2.Replace("URL: https://", ""));

        url2 = tmpUrl.Length > 992 ? tmpUrl.Substring(0, 992) : tmpUrl;
    }
    else
    {
        url2 = Model.Properties.Url2;
    }


    if (Model.Properties.Text3 != null)
    {
        string tmpText = HtmlToPlainText(Model.Properties.Text3.Replace("Label:", ""));
        text3 = tmpText.Length > 200 ? tmpText.Substring(0, 200) : tmpText;
    }
    else
    {
        text3 = Model.Properties.Text3;
    }
    if (Model.Properties.Url3 != null)
    {
        string tmpUrl = HtmlToPlainText(Model.Properties.Url3.Replace("URL: https://", ""));

        url3 = tmpUrl.Length > 992 ? tmpUrl.Substring(0, 992) : tmpUrl;
    }
    else
    {
        url3 = Model.Properties.Url3;
    }

    if (Model.Properties.Text4 != null)
    {
        string tmpText = HtmlToPlainText(Model.Properties.Text4.Replace("Label:", ""));
        text4 = tmpText.Length > 200 ? tmpText.Substring(0, 200) : tmpText;
    }
    else
    {
        text4 = Model.Properties.Text4;
    }
    if (Model.Properties.Url4 != null)
    {
        string tmpUrl = HtmlToPlainText(Model.Properties.Url4.Replace("URL: https://", ""));

        url4 = tmpUrl.Length > 992 ? tmpUrl.Substring(0, 992) : tmpUrl;
    }
    else
    {
        url4 = Model.Properties.Url4;
    }

    if (Model.Properties.Text5 != null)
    {
        string tmpText = HtmlToPlainText(Model.Properties.Text5.Replace("Label:", ""));
        text5 = tmpText.Length > 200 ? tmpText.Substring(0, 200) : tmpText;
    }
    else
    {
        text5 = Model.Properties.Text5;
    }
    if (Model.Properties.Url5 != null)
    {
        string tmpUrl = HtmlToPlainText(Model.Properties.Url5.Replace("URL: https://", ""));

        url5 = tmpUrl.Length > 992 ? tmpUrl.Substring(0, 992) : tmpUrl;
    }
    else
    {
        url5 = Model.Properties.Url5;
    }

    if (Model.Properties.Text6 != null)
    {
        string tmpText = HtmlToPlainText(Model.Properties.Text6.Replace("Label:", ""));
        text6 = tmpText.Length > 200 ? tmpText.Substring(0, 200) : tmpText;
    }
    else
    {
        text6 = Model.Properties.Text6;
    }
    if (Model.Properties.Url6 != null)
    {
        string tmpUrl = HtmlToPlainText(Model.Properties.Url6.Replace("URL: https://", ""));

        url6 = tmpUrl.Length > 992 ? tmpUrl.Substring(0, 992) : tmpUrl;
    }
    else
    {
        url6 = Model.Properties.Url6;
    }

    if (Model.Properties.Text7 != null)
    {
        string tmpText = HtmlToPlainText(Model.Properties.Text7.Replace("Label:", ""));
        text7 = tmpText.Length > 200 ? tmpText.Substring(0, 200) : tmpText;
    }
    else
    {
        text7 = Model.Properties.Text7;
    }
    if (Model.Properties.Url7 != null)
    {
        string tmpUrl = HtmlToPlainText(Model.Properties.Url7.Replace("URL: https://", ""));

        url7 = tmpUrl.Length > 992 ? tmpUrl.Substring(0, 992) : tmpUrl;
    }
    else
    {
        url7 = Model.Properties.Url7;
    }

    if (Model.Properties.Text8 != null)
    {
        string tmpText = HtmlToPlainText(Model.Properties.Text8.Replace("Label:", ""));
        text8 = tmpText.Length > 200 ? tmpText.Substring(0, 200) : tmpText;
    }
    else
    {
        text8 = Model.Properties.Text8;
    }
    if (Model.Properties.Url8 != null)
    {
        string tmpUrl = HtmlToPlainText(Model.Properties.Url8.Replace("URL: https://", ""));

        url8 = tmpUrl.Length > 992 ? tmpUrl.Substring(0, 992) : tmpUrl;
    }
    else
    {
        url8 = Model.Properties.Url8;
    }

    if (Model.Properties.Text9 != null)
    {
        string tmpText = HtmlToPlainText(Model.Properties.Text9.Replace("Label:", ""));
        text9 = tmpText.Length > 200 ? tmpText.Substring(0, 200) : tmpText;
    }
    else
    {
        text9 = Model.Properties.Text9;
    }
    if (Model.Properties.Url9 != null)
    {
        string tmpUrl = HtmlToPlainText(Model.Properties.Url9.Replace("URL: https://", ""));

        url9 = tmpUrl.Length > 992 ? tmpUrl.Substring(0, 992) : tmpUrl;
    }
    else
    {
        url9 = Model.Properties.Url9;
    }

    if (Model.Properties.Text10 != null)
    {
        string tmpText = HtmlToPlainText(Model.Properties.Text10.Replace("Label:", ""));
        text10 = tmpText.Length > 200 ? tmpText.Substring(0, 200) : tmpText;
    }
    else
    {
        text10 = Model.Properties.Text10;
    }
    if (Model.Properties.Url10 != null)
    {
        string tmpUrl = HtmlToPlainText(Model.Properties.Url10.Replace("URL: https://", ""));

        url10 = HtmlToPlainText(Model.Properties.Url10.Replace("URL: https://", ""));
    }
    else
    {
        url10 = Model.Properties.Url10;
    }
}

    <ul class="listInternalLink @if (id != null) { @className; } " id="@id">

        @if (text1 != null)
        {
            <li>
                @if (url1 != null)
                {
                <a href="https://@url1" target="_blank">@Html.Raw(HttpUtility.HtmlDecode(text1.Replace(Environment.NewLine, "<br/>")))</a>
                }
                else
                {
                    @text1
                }

            </li>
        }

        @if (text2 != null)
        {
            <li>
                @if (url2 != null)
                {
                <a href="https://@url2" target="_blank">@Html.Raw(HttpUtility.HtmlDecode(text2.Replace(Environment.NewLine, "<br />")))</a>
                }
                else
                {
                    @text2
                }
            </li>
        }

        @if (text3 != null)
        {
            <li>
                @if (url3 != null)
                {
                <a href="https://@url3" target="_blank">@Html.Raw(HttpUtility.HtmlDecode(text3.Replace(Environment.NewLine, "<br />")))</a>
                }
                else
                {
                    @text3
                }
            </li>
        }

        @if (text4 != null)
        {
            <li>
                @if (url4 != null)
                {
                <a href="https://@url4" target="_blank">@Html.Raw(HttpUtility.HtmlDecode(text4.Replace(Environment.NewLine, "<br />")))</a>
                }
                else
                {
                    @text4
                }

            </li>
        }

        @if (text5 != null)
        {
            <li>
                @if (url5 != null)
                {
                <a href="https://@url5" target="_blank">@Html.Raw(HttpUtility.HtmlDecode(text5.Replace(Environment.NewLine, "<br />")))</a>
                }
                else
                {
                    @text5
                }

            </li>
        }

        @if (text6 != null)
        {
            <li>
                @if (url6 != null)
                {
                <a href="https://@url6" target="_blank">@Html.Raw(HttpUtility.HtmlDecode(text6.Replace(Environment.NewLine, "<br />")))</a>
                }
                else
                {
                    @text6
                }

            </li>
        }

        @if (text7 != null)
        {
            <li>
                @if (url7 != null)
                {
                <a href="https://@url7" target="_blank">@Html.Raw(HttpUtility.HtmlDecode(text7.Replace(Environment.NewLine, "<br />")))</a>
                }
                else
                {
                    @text7
                }

            </li>
        }

        @if (text8 != null)
        {
            <li>
                @if (url8 != null)
                {
                <a href="https://@url8" target="_blank">@Html.Raw(HttpUtility.HtmlDecode(text8.Replace(Environment.NewLine, "<br />")))</a>
                }
                else
                {
                    @text8
                }

            </li>
        }

        @if (text9 != null)
        {
            <li>
                @if (url9 != null)
                {
                <a href="https://@url9" target="_blank">@Html.Raw(HttpUtility.HtmlDecode(text9.Replace(Environment.NewLine, "<br />")))</a>
                }
                else
                {
                    @text9
                }

            </li>
        }

        @if (text10 != null)
        {
            <li>
                @if (url10 != null)
                {
                <a href="https://@url10" target="_blank">@Html.Raw(HttpUtility.HtmlDecode(text10.Replace(Environment.NewLine, "<br />")))</a>
                }
                else
                {
                    @text10
                }
            </li>
        }

    </ul>

@*@if (Context.Kentico().PageBuilder().EditMode)
{
    <div style="height: 50px; font-weight: bold">
        <p>Anchor Link Lists Widget:</p>
    </div>

    Html.RenderPartial("InlineEditors/TextEditor", new TextEditorViewModel
    {
        PropertyName = "Text1",
        Text = "Label: &nbsp;" + text1,
        Class = className,
        Id = id
    });
    Html.RenderPartial("InlineEditors/TextEditor", new TextEditorViewModel
    {
        PropertyName = "Url1",
        Text = "URL: https://" + url1,
        Class = className,
        Id = id
    });

    Html.RenderPartial("InlineEditors/TextEditor", new TextEditorViewModel
    {
        PropertyName = "Text2",
        Text = "Label: &nbsp;" + text2,
        Class = className,
        Id = id
    });
    Html.RenderPartial("InlineEditors/TextEditor", new TextEditorViewModel
    {
        PropertyName = "Url2",
        Text = "URL: https://" + url2,
        Class = className,
        Id = id
    });

    Html.RenderPartial("InlineEditors/TextEditor", new TextEditorViewModel
    {
        PropertyName = "Text3",
        Text = "Label: &nbsp;" + text3,
        Class = className,
        Id = id
    });
    Html.RenderPartial("InlineEditors/TextEditor", new TextEditorViewModel
    {
        PropertyName = "Url3",
        Text = "URL: https://" + url3,
        Class = className,
        Id = id
    });

    Html.RenderPartial("InlineEditors/TextEditor", new TextEditorViewModel
    {
        PropertyName = "Text4",
        Text = "Label: &nbsp;" + text4,
        Class = className,
        Id = id
    });
    Html.RenderPartial("InlineEditors/TextEditor", new TextEditorViewModel
    {
        PropertyName = "Url4",
        Text = "URL: https://" + url4,
        Class = className,
        Id = id
    });

    Html.RenderPartial("InlineEditors/TextEditor", new TextEditorViewModel
    {
        PropertyName = "Text5",
        Text = "Label: &nbsp;" + text5,
        Class = className,
        Id = id
    });
    Html.RenderPartial("InlineEditors/TextEditor", new TextEditorViewModel
    {
        PropertyName = "Url5",
        Text = "URL: https://" + url5,
        Class = className,
        Id = id
    });

    Html.RenderPartial("InlineEditors/TextEditor", new TextEditorViewModel
    {
        PropertyName = "Text6",
        Text = "Label: &nbsp;" + text6,
        Class = className,
        Id = id
    });
    Html.RenderPartial("InlineEditors/TextEditor", new TextEditorViewModel
    {
        PropertyName = "Url6",
        Text = "URL: https://" + url6,
        Class = className,
        Id = id
    });

    Html.RenderPartial("InlineEditors/TextEditor", new TextEditorViewModel
    {
        PropertyName = "Text7",
        Text = "Label: &nbsp;" + text7,
        Class = className,
        Id = id
    });
    Html.RenderPartial("InlineEditors/TextEditor", new TextEditorViewModel
    {
        PropertyName = "Url7",
        Text = "URL: https://" + url7,
        Class = className,
        Id = id
    });

    Html.RenderPartial("InlineEditors/TextEditor", new TextEditorViewModel
    {
        PropertyName = "Text8",
        Text = "Label: &nbsp;" + text8,
        Class = className,
        Id = id
    });
    Html.RenderPartial("InlineEditors/TextEditor", new TextEditorViewModel
    {
        PropertyName = "Url8",
        Text = "URL: https://" + url8,
        Class = className,
        Id = id
    });

    Html.RenderPartial("InlineEditors/TextEditor", new TextEditorViewModel
    {
        PropertyName = "Text9",
        Text = "Label: &nbsp;" + text9,
        Class = className,
        Id = id
    });
    Html.RenderPartial("InlineEditors/TextEditor", new TextEditorViewModel
    {
        PropertyName = "Url9",
        Text = "URL: https://" + url9,
        Class = className,
        Id = id
    });

    Html.RenderPartial("InlineEditors/TextEditor", new TextEditorViewModel
    {
        PropertyName = "Text10",
        Text = "Label: &nbsp;" + text10,
        Class = className,
        Id = id
    });
    Html.RenderPartial("InlineEditors/TextEditor", new TextEditorViewModel
    {
        PropertyName = "Url10",
        Text = "URL: https://" + url10,
        Class = className,
        Id = id
    });

}
else
{
  <ul class="listInternalLink @if (id != null) { @className; } " id="@id">

      @if (text1 != null)
      {
          <li>
              @if (url1 != null)
              {
                  <a href="https://@url1" target="_blank">@text1</a>
              }
              else
              {
                  @text1
              }

          </li>
      }

      @if (text2 != null)
      {
          <li>
              @if (url2 != null)
              {
                  <a href="https://@url2" target="_blank">@text2</a>
              }
              else
              {
                  @text2
              }
          </li>
      }

      @if (text3 != null)
      {
          <li>
              @if (url3 != null)
              {
                  <a href="https://@url3" target="_blank">@text3</a>
              }
              else
              {
                  @text3
              }
          </li>
      }

      @if (text4 != null)
      {
          <li>
              @if (url4 != null)
              {
                  <a href="https://@url4" target="_blank">@text4</a>
              }
              else
              {
                  @text4
              }

          </li>
      }

      @if (text5 != null)
      {
          <li>
              @if (url5 != null)
              {
                  <a href="https://@url5" target="_blank">@text5</a>
              }
              else
              {
                  @text5
              }

          </li>
      }

      @if (text6 != null)
      {
          <li>
              @if (url6 != null)
              {
                  <a href="https://@url6" target="_blank">@text6</a>
              }
              else
              {
                  @text6
              }

          </li>
      }

      @if (text7 != null)
      {
          <li>
              @if (url7 != null)
              {
                  <a href="https://@url7" target="_blank">@text7</a>
              }
              else
              {
                  @text7
              }

          </li>
      }

      @if (text8 != null)
      {
          <li>
              @if (url8 != null)
              {
                  <a href="https://@url8" target="_blank">@text8</a>
              }
              else
              {
                  @text8
              }

          </li>
      }

      @if (text9 != null)
      {
          <li>
              @if (url9 != null)
              {
                  <a href="https://@url9" target="_blank">@text9</a>
              }
              else
              {
                  @text9
              }

          </li>
      }

      @if (text10 != null)
      {
          <li>
              @if (url10 != null)
              {
                 <a href="https://@url10" target="_blank">@text10</a>
              }
              else
              { 
                @text10
              }
          </li>
      }

  </ul>
}*@