@using Kentico.PageBuilder.Web.Mvc
@using FY19.Models.Widgets
@using FY19.Models.InlineEditors
@using System.Text.RegularExpressions;
@model ComponentViewModel<BreadCrumbsProperties>


@functions
{
    private static string HtmlToPlainText(string html)
    {
        const string tagWhiteSpace = @"(>|$)(\W|\n|\r)+<";//matches one or more (white space or line breaks) between '>' and '<'
        const string stripFormatting = @"<[^>]*(>|$)";//match any character between '<' and '>', even when end tag is missing
        const string lineBreak = @"<(br|BR)\s{0,1}\/{0,1}>";//matches: <br>,<br/>,<br />,<BR>,<BR/>,<BR />
        var lineBreakRegex = new Regex(lineBreak, RegexOptions.Multiline);
        var stripFormattingRegex = new Regex(stripFormatting, RegexOptions.Multiline);
        var tagWhiteSpaceRegex = new Regex(tagWhiteSpace, RegexOptions.Multiline);

        var text = html;
        //Decode html specific characters
        text = System.Net.WebUtility.HtmlDecode(text);
        //Remove tag whitespace/line breaks
        text = tagWhiteSpaceRegex.Replace(text, "><");
        //Replace <br /> with line breaks
        text = lineBreakRegex.Replace(text, Environment.NewLine);
        //Strip formatting
        text = stripFormattingRegex.Replace(text, string.Empty);

        return text;
    }
}

@{
    string text1, text2, text3, text4, text5, text6, text7, text8, text9, text10;
    string url1, url2, url3, url4, url5, url6, url7, url8, url9, url10;
    string className = "anchorLinkClass";
    string id = "anchorLinkId";

    //breadcrumb 1
    text1 = (Model.Properties.Text1 != null) ? (Model.Properties.Text1.Length > 200 ? Model.Properties.Text1.Substring(0, 200) : Model.Properties.Text1) : (null);
    url1 = (Model.Properties.Url1 != null) ? (Model.Properties.Url1.Length > 992 ? Model.Properties.Url1.Substring(0, 992) : Model.Properties.Url1) : (null);

    //breadcrumb 2
    text2 = (Model.Properties.Text2 != null) ? (Model.Properties.Text2.Length > 200 ? Model.Properties.Text2.Substring(0, 200) : Model.Properties.Text2) : (null);
    url2 = (Model.Properties.Url2 != null) ? (Model.Properties.Url2.Length > 992 ? Model.Properties.Url2.Substring(0, 992) : Model.Properties.Url2) : (null);

    //breadcrumb 3
    text3 = (Model.Properties.Text3 != null) ? (Model.Properties.Text3.Length > 200 ? Model.Properties.Text3.Substring(0, 200) : Model.Properties.Text3) : (null);
    url3 = (Model.Properties.Url3 != null) ? (Model.Properties.Url3.Length > 992 ? Model.Properties.Url3.Substring(0, 992) : Model.Properties.Url3) : (null);

    //breadcrumb 4
    text4 = (Model.Properties.Text4 != null) ? (Model.Properties.Text4.Length > 200 ? Model.Properties.Text4.Substring(0, 200) : Model.Properties.Text4) : (null);
    url4 = (Model.Properties.Url4 != null) ? (Model.Properties.Url4.Length > 992 ? Model.Properties.Url4.Substring(0, 992) : Model.Properties.Url4) : (null);

    //breadcrumb 5
    text5 = (Model.Properties.Text5 != null) ? (Model.Properties.Text5.Length > 200 ? Model.Properties.Text5.Substring(0, 200) : Model.Properties.Text5) : (null);
    url5 = (Model.Properties.Url5 != null) ? (Model.Properties.Url5.Length > 992 ? Model.Properties.Url5.Substring(0, 992) : Model.Properties.Url5) : (null);

    //breadcrumb 6
    text6 = (Model.Properties.Text6 != null) ? (Model.Properties.Text6.Length > 200 ? Model.Properties.Text6.Substring(0, 200) : Model.Properties.Text6) : (null);
    url6 = (Model.Properties.Url6 != null) ? (Model.Properties.Url6.Length > 992 ? Model.Properties.Url6.Substring(0, 992) : Model.Properties.Url6) : (null);

    //breadcrumb 7
    text7 = (Model.Properties.Text7 != null) ? (Model.Properties.Text7.Length > 200 ? Model.Properties.Text7.Substring(0, 200) : Model.Properties.Text7) : (null);
    url7 = (Model.Properties.Url7 != null) ? (Model.Properties.Url7.Length > 992 ? Model.Properties.Url7.Substring(0, 992) : Model.Properties.Url7) : (null);

    //breadcrumb 8
    text8 = (Model.Properties.Text8 != null) ? (Model.Properties.Text8.Length > 200 ? Model.Properties.Text8.Substring(0, 200) : Model.Properties.Text8) : (null);
    url8 = (Model.Properties.Url8 != null) ? (Model.Properties.Url8.Length > 992 ? Model.Properties.Url8.Substring(0, 992) : Model.Properties.Url8) : (null);

    //breadcrumb 9
    text9 = (Model.Properties.Text9 != null) ? (Model.Properties.Text9.Length > 200 ? Model.Properties.Text9.Substring(0, 200) : Model.Properties.Text9) : (null);
    url9 = (Model.Properties.Url9 != null) ? (Model.Properties.Url9.Length > 992 ? Model.Properties.Url9.Substring(0, 992) : Model.Properties.Url9) : (null);

    //breadcrumb 10
    text10 = (Model.Properties.Text10 != null) ? (Model.Properties.Text10.Length > 200 ? Model.Properties.Text10.Substring(0, 200) : Model.Properties.Text10) : (null);
    url10 = (Model.Properties.Url10 != null) ? (Model.Properties.Url10.Length > 992 ? Model.Properties.Url10.Substring(0, 992) : Model.Properties.Url10) : (null);
}

<div class="breadcrumb">
    <ul class="@className" id="@id">
        @if (text1 != null)
        {
            <li>@if (url1 != null)
                {
                    <a href="@url1" target="_blank">@text1</a>
                }
                else
                {
                    @text1
                }</li>
        }
        @if (text2 != null)
        {
            <li>
                @if (url2 != null)
                {
                    <a href="@url2" target="_blank">@text2</a>
                }
                else
                {
                    @text2
                }</li>
        }
        @if (text3 != null)
        {
            if (url3 != null)
            {
                <li>
                    <a href="@url3" target="_blank">@text3</a>
                </li>
            }
            else
            {
                <li>@text3</li>
            }
        }
        @if (text4 != null)
        {
            if (url4 != null)
            {
                <li>
                    <a href="@url4" target="_blank">@text4</a>
                </li>
            }
            else
            {
                <li>@text4</li>
            }
        }
        @if (text5 != null)
        {
            if (url5 != null)
            {
                <li>
                    <a href="@url5" target="_blank">@text5</a>
                </li>
            }
            else
            {
                <li>@text5</li>
            }
        }
        @if (text6 != null)
        {
            if (url6 != null)
            {
                <li>
                    <a href="@url6" target="_blank">@text6</a>
                </li>
            }
            else
            {
                <li>@text6</li>
            }
        }
        @if (text7 != null)
        {
            if (url7 != null)
            {
                <li>
                    <a href="@url7" target="_blank">@text7</a>
                </li>
            }
            else
            {
                <li>@text7</li>
            }
        }
        @if (text8 != null)
        {
            if (url8 != null)
            {
                <li>
                    <a href="@url8" target="_blank">@text8</a>
                </li>
            }
            else
            {
                <li>@text8</li>
            }
        }
        @if (text9 != null)
        {
            if (url9 != null)
            {
                <li>
                    <a href="@url9" target="_blank">@text9</a>
                </li>
            }
            else
            {
                <li>@text9</li>
            }
        }
        @if (text10 != null)
        {
            if (url10 != null)
            {
                <li>
                    <a href="@url10" target="_blank">@text10</a>
                </li>
            }
            else
            {
                <li>@text10</li>
            }
        }
    </ul>
</div>