@using FY19.Models.Widgets

@model ComponentViewModel<KMJ_LinkListProperties>

@{ 
    string blank1 = string.Empty, blank2 = string.Empty, blank3 = string.Empty, blank4 = string.Empty, blank5 = string.Empty, blank6 = string.Empty, blank7 = string.Empty, blank8 = string.Empty, blank9 = string.Empty, blank10 = string.Empty;

    if (Model.Properties.Blank1)
    {
        blank1 = "_blank";
    }

    if (Model.Properties.Blank2)
    {
        blank2 = "_blank";
    }

    if (Model.Properties.Blank3)
    {
        blank3 = "_blank";
    }

    if (Model.Properties.Blank4)
    {
        blank4 = "_blank";
    }

    if (Model.Properties.Blank5)
    {
        blank5 = "_blank";
    }

    if (Model.Properties.Blank6)
    {
        blank6 = "_blank";
    }

    if (Model.Properties.Blank7)
    {
        blank7 = "_blank";
    }

    if (Model.Properties.Blank8)
    {
        blank8 = "_blank";
    }

    if (Model.Properties.Blank9)
    {
        blank9 = "_blank";
    }

    if (Model.Properties.Blank10)
    {
        blank10 = "_blank";
    }
}


<div class="listLink @Model.Properties.Class" id="@Model.Properties.Id">
    <ul class="listLinkList">
        <li class="listItem">
            <a href="@Model.Properties.Url1" target="@blank1">@Model.Properties.Text1</a>
            <p>@Model.Properties.Description1</p>
        </li>
        <li class="listItem">
            <a href="@Model.Properties.Url2" target="@blank2">@Model.Properties.Text2</a>
            <p>@Model.Properties.Description2</p>
        </li>
        <li class="listItem">
            <a href="@Model.Properties.Url3" target="@blank3">@Model.Properties.Text3</a>
            <p>@Model.Properties.Description3</p>
        </li>
        <li class="listItem">
            <a href="@Model.Properties.Url4" target="@blank4">@Model.Properties.Text4</a>
            <p>@Model.Properties.Description4</p>
        </li>
        <li class="listItem">
            <a href="@Model.Properties.Url5" target="@blank5">@Model.Properties.Text5</a>
            <p>@Model.Properties.Description5</p>
        </li>
        <li class="listItem">
            <a href="@Model.Properties.Url6" target="@blank6">@Model.Properties.Text6</a>
            <p>@Model.Properties.Description6</p>
        </li>
        <li class="listItem">
            <a href="@Model.Properties.Url7" target="@blank7">@Model.Properties.Text7</a>
            <p>@Model.Properties.Description7</p>
        </li>
        <li class="listItem">
            <a href="@Model.Properties.Url8" target="@blank8">@Model.Properties.Text8</a>
            <p>@Model.Properties.Description8</p>
        </li>
        <li class="listItem">
            <a href="@Model.Properties.Url9" target="@blank9">@Model.Properties.Text9</a>
            <p>@Model.Properties.Description9</p>
        </li>
        <li class="listItem">
            <a href="@Model.Properties.Url10" target="@blank10">@Model.Properties.Text10</a>
            <p>@Model.Properties.Description10</p>
        </li>
    </ul>
</div>