@using Kentico.PageBuilder.Web.Mvc
@using FY19.Models.Widgets
@using FY19.Models.InlineEditors
@using System.Text.RegularExpressions;
@model ComponentViewModel<KMJ_PlaceholderProperties>

@functions
{
    private static string HtmlToPlainText(string html)
    {
        const string tagWhiteSpace = @"(>|$)(\W|\n|\r)+<";//matches one or more (white space or line breaks) between '>' and '<'
        const string stripFormatting = @"<[^>]*(>|$)";//match any character between '<' and '>', even when end tag is missing
        const string lineBreak = @"<(br|BR)\s{0,1}\/{0,1}>";//matches: <br>,<br/>,<br />,<BR>,<BR/>,<BR />
        var lineBreakRegex = new Regex(lineBreak, RegexOptions.Multiline);
        var stripFormattingRegex = new Regex(stripFormatting, RegexOptions.Multiline);
        var tagWhiteSpaceRegex = new Regex(tagWhiteSpace, RegexOptions.Multiline);

        var text = html;
        //Decode html specific characters
        text = System.Net.WebUtility.HtmlDecode(text);
        //Remove tag whitespace/line breaks
        text = tagWhiteSpaceRegex.Replace(text, "><");
        //Replace <br /> with line breaks
        text = lineBreakRegex.Replace(text, Environment.NewLine);
        //Strip formatting
        text = stripFormattingRegex.Replace(text, string.Empty);

        return text;
    }
}

@{
    string placeHolderText = string.Empty;

    if (Model.Properties.PlaceholderText != null)
    {
        placeHolderText = HtmlToPlainText(Model.Properties.PlaceholderText);
    }
    else
    {
        placeHolderText = Model.Properties.PlaceholderText;
    }
}


@if (Context.Kentico().PageBuilder().EditMode)
{
    Type propType = typeof(KMJ_TextContentProperties);
    System.Reflection.PropertyInfo pInfo = propType.GetProperty("TextContent");

    <p style="font-weight: bold">Enter your placeholder text:</p>
    Html.RenderPartial("InlineEditors/TextEditor", new TextEditorViewModel
    {
        PropertyName = "PlaceholderText",
        Text = placeHolderText,
        Class = Model.Properties.Class
    });

    <div style="height: 50px; padding-top: 30px;">
        <input class="ae-placeholder @Model.Properties.Class" id="@Model.Properties.Id" placeholder="@placeHolderText">
    </div>
}
else
{
    <div style="height: 50px; padding-top: 30px;">
        <input class="ae-placeholder @Model.Properties.Class" id="@Model.Properties.Id" placeholder="@placeHolderText">
    </div>
}