@using FY19.Models.Sections

@model Kentico.PageBuilder.Web.Mvc.ComponentViewModel<KMJ_1_3ColumnProperties>

<div class="column_1-2 @Model.Properties.Class" id="@Model.Properties.Id"
     style="margin: auto; width: 100%;">
    <div class="col-md-4" style="width: 33%;">
        @Html.Kentico().WidgetZone()
    </div>
    <div class="col-md-4" style="width: 33%;">
        @Html.Kentico().WidgetZone()
    </div>
    <div class="col-md-4" style="width: 33%;">
        @Html.Kentico().WidgetZone()
    </div>
</div>