@using Kentico.PageBuilder.Web.Mvc
@using Kentico.OnlineMarketing.Web.Mvc
@using Kentico.Web.Mvc

<!DOCTYPE html>
<html lang="ja">
<head id="head">
    <title>
        IT管理サービス IT-Guardians（ITガーディアンズ） | コニカミノルタ
    </title>
    <meta name="description" content="IT-GuardiansはコニカミノルタのITの設計・導入・保守・運用ノウハウをパッケージ化し、すべての企業の皆様にご利用いただけるようご提供いたします。" />
    <meta charset="UTF-8" />
    <meta name="keywords" content="インフラ,セキュリティ,サポート,環境構築,リモートサポート" />
    @Styles.Render("~/Content/css")

    <!-- START OF SmartSource Data Collector TAG -->
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-W6QPBH5');</script>
    <!-- End Google Tag Manager -->
    <!-- END OF SmartSource Data Collector TAG -->
    <meta name="viewport" content="width=device-width">
    <meta name="format-detection" content="telephone=no">
    <link rel="canonical" href="https://www.konicaminolta.jp/business/service/it-guardians/index.html" />

    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="https://www.konicaminolta.jp/common/unchangeable/css/response-2.0.css">
    <link rel="stylesheet" href="https://www.konicaminolta.jp/common/unchangeable/css/response-3.0.css">
    <link rel="stylesheet" href="https://www.konicaminolta.jp/common/unchangeable/css/response-customize.css">
    <link rel="stylesheet" href="https://www.konicaminolta.jp/common/unchangeable/css/response-print.css" media="print">
    <script src="https://www.konicaminolta.jp/common/unchangeable/js/DOMAssistantCompressed-2.8.js"></script>
    <script src="https://www.konicaminolta.jp/common/unchangeable/js/kmjslib.js"></script>
    @*<script src="https://www.konicaminolta.jp/common/unchangeable/js/response-3.0.js"></script>*@
    <script src="https://www.konicaminolta.jp/component/c_common/js/jquery-1.7.1.min.js"></script>
    <meta property="og:image" content="https://www.konicaminolta.com/web-contents/kmj/assets/it-guardians/img/bg_keyvisual_sp.jpg?ext=.jpg" />
    <link rel="stylesheet" href="https://www.konicaminolta.com/web-contents/kmj/assets/it-guardians/css/responsive.css">
    <link rel="stylesheet" href="https://www.konicaminolta.com/web-contents/kmj/assets/it-guardians/css/it-guardians_top.css">

    <!--[if lt IE 9]>
    <script src="https://www.konicaminolta.jp/common/unchangeable/js/html5shiv-printshiv.js"></script>
    <![endif]-->
    <!-- +++ local-script +++ -->
    <!-- megamenu -->
    <link rel="stylesheet" href="https://www.konicaminolta.jp/business/common/css/megamenu.css">
    <script src="https://www.konicaminolta.jp/component/megamenu/jquery.easing.1.3.min.js"></script>
    <script src="https://www.konicaminolta.jp/business/common/js/megamenu.js"></script>
    <!-- /magamenu -->
    <link rel="stylesheet" href="https://www.konicaminolta.jp/business/common/css/bcj_component.css">
    <link rel="stylesheet" href="https://www.konicaminolta.jp/business/common/css/bcj_component_rwd.css">
    @*<script src="https://www.konicaminolta.jp/business/common/js/bcj_globalnav.js"></script>*@
    <script src="https://www.konicaminolta.jp/business/common/js/slimbox2.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://www.konicaminolta.jp/business/common/css/slimbox2.css" type="text/css">

    <!-- BEGIN JMA Google Analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-56068959-1', 'auto', { 'allowLinker': true });
        ga('require', 'displayfeatures');
        ga('require', 'linker');
        ga('linker:autoLink', ['konicaminolta.net', 'konicaminolta.jp']);
        ga('send', 'pageview');</script>
    <!-- END JMA Google Analytics -->
    <script src="https://www.konicaminolta.com/web-contents/kmj/assets/it-guardians/js/index.js"></script>
    <script src="https://www.konicaminolta.com/web-contents/kmj/assets/it-guardians/js/jquery-smoothscroll.js"></script>
    <!-- local共通CSS&JS -->
    <link rel="stylesheet" href="https://www.konicaminolta.com/web-contents/kmj/assets/it-guardians/css/it-guardians.css" />
    <script src="https://www.konicaminolta.com/web-contents/kmj/assets/common/js/business.js"></script>
    <!-- /local共通CSS&JS -->
    <!-- +++ /local-script +++ -->
    <link rel="stylesheet" href="https://www.konicaminolta.com/web-contents/kmj/assets/common/css/searchbox-kentico.css">
    <script src="https://www.konicaminolta.com/web-contents/kmj/assets/common/js/searchbox-kentico.js"></script>
</head>
<body class="LTR Unknown KMJJA ContentBody" id="top">
    <!-- START OF SmartSource Data Collector TAG -->
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W6QPBH5"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- END OF SmartSource Data Collector TAG -->
    <form method="post" action="/business/service/it-guardians/index.html" id="form">
        <input type="hidden" name="__CMSCsrfToken" id="__CMSCsrfToken" value="yFvYssg4Y4QEihIE6J0pZvzuHS02G+oJZbER6b6Iw6nEE9NO2TTAT/xz7PUHKQ1BTupTzLNeYBFdGzf/sQoZBsUdYXY=" />
        <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="EqaajylABORtirIVrUaNA19uEMSGGGOj1b88Tt830wQws02pKS3Dfs7r7RvWs0wEf266XypK1lGHdoKHZF2CyCK/CKGXAeHKSkSr0hvDg/CAoN9BVjPV9bj5P1DOYi9SES/DNIXTFg5vMMYLWl6Pmn156nctJuA+8F8T4QZ8zPNxdmX1Sa56jih5mzIoQWDYuK/7lzk3DOmHouOaWdc79/gwiSVNW6VeUsnOc2BS3DVCy//Iz6atCWcMjUtzWzUsNMeHvYoTxeC6EZ2pqHgcUs00YSQCTzrz9yMOVf2iB/2AhXnaD/sCcqyW2zbyXQ/B4mpt7wjbRCoLZEplfH1IAw8G32zjemhU5BbrGHSHUEZznIn444NGOr3qoAVZAs50hPk5B0hCOuAc6ZKG0PCUnvFsWpMLW4Ty4u7CmvYdUme+FvKh" />

        <input type="hidden" name="lng" id="lng" value="kmj-ja" />
        <script type="text/javascript">
            //<![CDATA[
            function PM_Postback(param) { if (window.top.HideScreenLockWarningAndSync) { window.top.HideScreenLockWarningAndSync(1080); } if (window.CMSContentManager) { CMSContentManager.allowSubmit = true; }; __doPostBack('m$am', param); }
            function PM_Callback(param, callback, ctx) { if (window.top.HideScreenLockWarningAndSync) { window.top.HideScreenLockWarningAndSync(1080); } if (window.CMSContentManager) { CMSContentManager.storeContentChangedStatus(); }; WebForm_DoCallback('m$am', param, callback, ctx, null, true); }
            //]]>
        </script>

        <script type="text/javascript">
            //<![CDATA[
            var CMS = CMS || {};
            CMS.Application = {
                "language": "kmj",
                "imagesUrl": "/CMSPages/GetResource.ashx?image=%5bImages.zip%5d%2f",
                "isDebuggingEnabled": false,
                "applicationUrl": "/",
                "isDialog": false,
                "isRTL": "false"
            };
            //]]>
        </script>

        <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="A5343185" />

        <div id="pagetop"><a id="anchorPagetop"></a></div>
        <div id="skipLink"><a accesskey="c" href="#anchorContents">このページの本文へ移動します</a> <!-- / #skipLink --></div>
        <div id="wrapper">
            <header>
                <div class="svgSwitch">
                    <div class="leftBox">
                        <p id="header_km_logo"><a href="https://www.konicaminolta.jp/business/index.html"><img src="https://www.konicaminolta.jp/common/unchangeable/img/identity01g.svg" alt="コニカミノルタ"></a></p>
                        <p class="siteNameFull"><img src="https://www.konicaminolta.jp/business/img/businesssiteName_ja_business01.png" alt="ビジネスソリューション" width="116" height="32"></p>
                        <!-- / .leftBox -->
                    </div>

                    <div class="rightBox">
                        <div class="langBox">
                            <p class="communicationMessage"><img src="https://www.konicaminolta.jp/common/unchangeable/img/text_identity_en.svg" alt="Giving Shape to Ideas"></p>
                            <!-- / .langBox -->
                        </div>
                        <div class="searchBox">
                            <ul>
                                <li class="global"><a href="https://www.konicaminolta.com/selector/index.html">グローバル</a></li>
                                <li><a href="/">日本</a></li>
                            </ul>
                            <div class="form">
                                <input type="hidden" name="site" value="jp-business">
                                <label for="search">検索:</label><input type="search" name="q" id="search" value="検索" autocomplete="off">
                                <input type="image" src="https://www.konicaminolta.jp/common/unchangeable/img/search_icon01.png" width="21" height="21" alt="検索">
                            </div>
                            <!-- / .searchBox -->
                        </div>

                        <ul id="toggleNavi">

                            <li class="menuBtn"><a href="#" class="touchHover"><span>メニュー</span></a></li>

                            <li class="searchBtn"><a href="#" class="touchHover"><span>検索</span></a></li>
                        </ul>

                        <!-- / .rightBox -->
                    </div>
                    <!-- / .svgSwitch -->
                </div>
                <script>svgSwitch()</script>
            </header>
            <div class="searchBoxSP">
                <div class="form">
                    <input type="hidden" name="site" value="jp-business">
                    <label for="search">検索:</label><input type="search" name="q" id="search" value="" placeholder="Search">
                    <input type="image" src="https://www.konicaminolta.jp/common/unchangeable/img/icon_searchBtn.png" width="27" height="27" alt="検索">
                </div>
                <!-- / .searchBoxSP -->
            </div>

            <!-- +++ megamenu +++ -->
            <nav class="globalNav">
                <ul>
                    <li><a href="/business/index.html" class="touchHover">ホーム</a></li>
                    <li><a href="/business/solution_service/index.html" class="touchHover">ソリューション&amp;サービス</a></li>
                    <li class="toPC"><a href="/business/products/index.html" class="touchHover">製品情報</a></li>
                    <li class="toPC"><a href="/business/user_case/index.html" class="touchHover">導入事例</a></li>
                    <li class="toPC"><a href="/business/support/index.html" class="touchHover">サポート</a></li>
                    <li class="toPC"><a href="/business/download/index.html" class="touchHover">ダウンロード</a></li>
                    <li><a href="/business/about/bj/index.html" class="touchHover">会社情報</a></li>
                </ul>
                <!-- / .globalNav -->
            </nav>

            <div id="HeaderZone">
                <nav class="localnavigation">
                    <p class="localnavigation__btn">MENU</p>
                    <ul>
                        <li><a href="/business/service/it-guardians/index.html">TOP</a></li>
                        <li><a href="/business/service/it-guardians/index.html#itg-solution">Problem solving</a></li>
                        <li> <a href="/business/service/it-guardians/helpdesk/index.html">Help desk</a></li>
                        <li> <a href="/business/service/it-guardians/service/index.html ">Service list</a></li>
                        <li><span>ニュース</span></li>
                        <li> <a href="https://bsoffers.konicaminolta.jp/fm-it-guardians-contact.html" target="_blank">Contact</a></li>
                    </ul>
                </nav>
            </div>

            @*BreadCrumbZone*@
            <div class="breadcrumb">
                <ul>
                    <li>
                        <a href="/business/service/it-guardians/index.html">TOP</a>
                    </li>
                    <li>カタログダウンロード</li>
                </ul>
            </div>

            <div id="megaMenu">
                <div></div><!-- Home -->
                <!-- begin Solutions & Service -->
                <div class="section solution">
                    <p class="windowClose"><a href="#"><img src="https://www.konicaminolta.jp/business/common/img/megamenu/btn_mega_close.png" width="19" height="19" alt="close" /></a></p>

                    <p class="h01">ソリューション&amp;サービス</p>

                    <div class="line">
                        <p class="h02">経営課題から探す</p>
                        <ul class="linkList02">
                            <li><a href="/business/solution/ejikan/index.html"><img src="https://www.konicaminolta.jp/business/common/img/megamenu/img_090.jpg" width="180" height="107" alt=""><span>働き方改革</span></a></li>
                            <li><a href="/business/solution/salesup_sp/index.html"><img src="https://www.konicaminolta.jp/business/common/img/megamenu/img_084.jpg" width="180" height="107" alt=""><span>売上向上</span></a></li>
                            <li><a href="/business/solution/cost_sp/index.html"><img src="https://www.konicaminolta.jp/business/common/img/megamenu/img_085.jpg" width="180" height="107" alt=""><span>コスト削減</span></a></li>
                        </ul>
                        <!-- / .line -->
                    </div>

                    <div class="line">
                        <p class="h02">カテゴリ・キーワードから探す</p>
                        <ul class="linkList02">
                            <li><a href="/business/solution/telework/index.html"><span>テレワーク</span></a></li>
                            <li><a href="/business/solution_service/mfp_solutions/index.html"><span>複合機関連ソリューション・サービス</span></a></li>
                            <li><a href="/business/solution/document/index.html"><span>ドキュメント・文書管理<br>ペーパーレス化</span></a></li>
                            <li><a href="/business/solution/space-design/"><span>オフィスデザイン・<br>事務所の移転・<br>オフィスのコスト削減</span></a></li>
                            <li><a href="/business/service/it-guardians/index.html"><span>マネージドITサービス</span></a></li>
                            <li><a href="/business/solution_service/sales_solutions/index.html"><span>営業力強化</span></a></li>
                            <li><a href="/business/solution/innovation/web/index.html"><span>デジタルマーケティング</span></a></li>
                            <li><a href="/business/products/it_surveillance_camera/mobotix/index.html"><span>IPネットワークカメラ</span></a></li>
                            <li><a href="/business/solution_service/it_system_solutions/index.html"><span>IT・ネットワーク・システム構築</span></a></li>
                            <li><a href="/business/solution/homepage_pkg/index.html"><span>ホームページ制作パッケージ</span></a></li>
                            <li><a href="/business/solution/rpa/index.html"><span>RPA導入支援サービス</span></a></li>
                            <li><a href="/business/solution/subsidy/index.html"><span>補助金・助成金・優遇税制</span></a></li><!--<li><a href="/business/solution_service/other_solutions/index.html"><span>マイナンバー対策・<br>POSシステム</span></a></li>-->
                        </ul>
                        <!-- / .line -->
                    </div>

                    <div class="line">
                        <p class="h02">業種から探す</p>
                        <ul class="linkList02">
                            <li><a href="/business/solution_service/distribution/index.html"><span>流通・小売</span></a></li>
                            <li><a href="/business/solution/nursery/index.html"><span>保育園・こども園</span></a></li>
                        </ul>

                        <p class="topPageLink"><a href="/business/solution_service/index.html"><img src="https://www.konicaminolta.jp/business/common/img/megamenu/bnr_001.gif" width="226" height="27" alt="ソリューション&amp;サービス"></a></p>
                        <!-- / .line -->
                    </div>

                    <div class="btnArea">
                        <ul>
                            <li><a href="/business/support/faq.html"><img src="https://www.konicaminolta.jp/business/common/img/megamenu/btn_001.gif" width="132" height="45" alt="よくあるご質問"></a></li>
                            <li><a href="/business/support/contact.html"><img src="https://www.konicaminolta.jp/business/common/img/megamenu/btn_002.gif" width="132" height="45" alt="お問い合わせ"></a></li>
                            <li><a href="/business/download/index.html#easyNavi"><img src="https://www.konicaminolta.jp/business/common/img/megamenu/btn_003.gif" width="132" height="45" alt="かんたんダウンロードナビ"></a></li>
                        </ul>
                        <!-- / .bnrArea -->
                    </div>
                    <!-- / .section -->
                </div>
                <!-- end Solutions & Service -->
                <!-- begin Products -->
                <div class="section products">
                    <p class="windowClose"><a href="#"><img src="https://www.konicaminolta.jp/business/common/img/megamenu/btn_mega_close.png" width="19" height="19" alt="close" /></a></p>

                    <p class="h01">製品情報</p>

                    <div class="line">
                        <div class="colL">
                            <ul class="linkList">
                                <li><a href="/business/solution/workplacehub/index.html"><img src="https://www.konicaminolta.jp/business/common/img/megamenu/img_105.jpg" width="180" height="135" alt=""><span>Workplace Hub</span></a></li>
                                <li><a href="/business/products/copiers/index.html"><img src="https://www.konicaminolta.jp/business/common/img/megamenu/img_108.jpg" width="180" height="135" alt=""><span>複合機／複写機／複合機周辺機器</span></a></li>
                                <li><a href="/business/products/graphic/index.html"><img src="https://www.konicaminolta.jp/business/common/img/megamenu/img_109.jpg" width="180" height="135" alt=""><span>プロダクションプリント＆グラフィック </span></a></li>
                            </ul>

                            <ul class="linkList">
                                <li><a href="/business/products/printers/index.html"><span>プリンター</span></a></li>
                                <li><a href="/business/products/software/index.html"><span>ソフトウェア</span></a></li>
                                <li><a href="/business/products/duplicators/index.html"><span>デジタル孔版印刷機</span></a></li>
                            </ul>

                            <ul class="linkList">
                                <li><a href="/business/products/micrographics/index.html"><span>ファイリング機器</span></a></li>
                                <li><a href="/business/products/fax/index.html"><span>ファクシミリ</span></a></li>
                                <li><a href="/business/products/it_surveillance_camera/mobotix/index.html"><span>IPネットワークカメラ<br>システム</span></a></li>
                            </ul>

                            <p class="topPageLink"><a href="/business/products/index.html"><img src="https://www.konicaminolta.jp/business/common/img/megamenu/bnr_007.gif" width="155" height="28" alt="製品情報トップページ"></a></p>
                            <!-- / .colL line -->
                        </div>

                        <div class="colR">
                            <p class="h02">おすすめ情報</p>
                            <ul class="linkList">
                                <li>
                                    <p><a href="/business/products/copiers/color/bizhub-c287i/index.html"><img src="https://www.konicaminolta.jp/business/common/img/megamenu/img_120.jpg" width="155" height="110" alt=""><span>bizhub C287 i</span></a></p>
                                    <p>「シンプル」「安心」「便利」なオフィスワークを提供。あなたのビジネス・プロセス、ワークスタイルを進化させる「bizhub i シリーズ」</p>
                                </li>
                                <li>
                                    <p><a href="/business/products/graphic/ondemand_print/color/accurio-press-c14000-c12000/index.html"><img src="https://www.konicaminolta.jp/business/common/img/megamenu/img_119.jpg" width="155" height="110" alt=""><span>AccurioPress C14000 / C12000</span></a></p>
                                    <p>印刷工程の自動化でオペレーションを効率化させるデジタル印刷システムのフラッグシップモデル</p>
                                </li>
                                <!--<li><p><a href="/business/products/graphic/ondemand_print/color/accurio_press_c2070_c2070p_c2060/index.html"><img src="https://www.konicaminolta.jp/business/common/img/megamenu/img_072.jpg" width="155" height="110" alt=""><span>AccurioPress C2070 / C2070P / C2060</span></a></p>
                                <p>進化し続けるマルチロールプロダクション印刷システム「AccurioPress C2070 / C2070P / C2060」</p></li><li><p><a href="/business/products/copiers/bw/bizhub_558_458_368_308/index.html"><img src="https://www.konicaminolta.jp/business/common/img/megamenu/img_065.jpg" width="155" height="110" alt=""><span>bizhub 558 / 458 / 368 / 308</span></a></p>
                                <p>快適な環境を構築し、業務効率化をサポートする「bizhub 558 / 458 / 368 / 308」</p></li>-->
                            </ul>
                            <!-- / .colR -->
                        </div>
                        <!-- / .line -->
                    </div>

                    <div class="btnArea">
                        <ul>
                            <li><a href="/business/support/faq.html"><img src="https://www.konicaminolta.jp/business/common/img/megamenu/btn_001.gif" width="132" height="45" alt="よくあるご質問"></a></li>
                            <li><a href="/business/support/contact.html"><img src="https://www.konicaminolta.jp/business/common/img/megamenu/btn_002.gif" width="132" height="45" alt="お問い合わせ"></a></li>
                            <li><a href="/business/products/glossary/index.html"><img src="https://www.konicaminolta.jp/business/common/img/megamenu/btn_007.gif" width="132" height="45" alt="情報機器用語集"></a></li>
                        </ul>
                        <!-- / .bnrArea -->
                    </div>
                    <!-- / .section -->
                </div>
                <!-- end Products -->
                <!-- begin user_case -->
                <div class="section user_case">
                    <p class="windowClose"><a href="#"><img src="https://www.konicaminolta.jp/business/common/img/megamenu/btn_mega_close.png" width="19" height="19" alt="close" /></a></p>

                    <p class="h01">導入事例</p>

                    <div class="line">
                        <div class="colL">
                            <ul class="linkList">
                                <li><a href="/business/user_case/purpose/index.html"><img src="https://www.konicaminolta.jp/business/common/img/megamenu/img_039.gif" width="180" height="135" alt=""><span>目的別</span></a></li>
                                <li><a href="/business/user_case/business_type/index.html"><img src="https://www.konicaminolta.jp/business/common/img/megamenu/img_040.gif" width="180" height="135" alt=""><span>業種別</span></a></li>
                                <li><a href="/business/user_case/solution_service_products/index.html"><img src="https://www.konicaminolta.jp/business/common/img/megamenu/img_041.gif" width="180" height="135" alt=""><span>ソリューション・サービス・ 製品別</span></a></li>
                            </ul>

                            <p class="topPageLink"><a href="/business/user_case/index.html"><img src="https://www.konicaminolta.jp/business/common/img/megamenu/bnr_006.gif" width="155" height="28" alt="導入事例トップページ"></a></p>
                            <!-- / .colL line -->
                        </div>


                        <div class="colR">
                            <p class="h02">新着導入事例</p>
                            <ul class="linkList">
                                <li>
                                    <a href="/business/user_case/karuizawa-kyoiku/index.html"><img src="https://www.konicaminolta.jp/business/common/img/megamenu/img_121.jpg" width="155" height="110" alt=""><span>軽井沢町教育委員会 様</span></a>
                                    <p>軽井沢町では、全ての小中学校でタブレット１人１台の ICT授業を開始し、『学校 ICTプログラム』も推進しています。</p>
                                </li>
                                <li>
                                    <a href="/business/user_case/sagawa2/index.html"><img src="https://www.konicaminolta.jp/business/common/img/megamenu/img_118.jpg" width="155" height="110" alt=""><span>佐川印刷株式会社 様</span></a>
                                    <p>クラウド型色管理ソリューション AccurioPro Cloud Eye に切り替えて、全国各支店のカラープルーフの色状態をリアルタイムで簡単に把握。</p>
                                </li>
                            </ul>
                            <!-- / .colR -->
                        </div>
                        <!-- / .line -->
                    </div>
                    <!-- / .section -->
                </div>
                <!-- end user_case -->
                <!-- begin Support -->
                <div class="section support">
                    <p class="windowClose"><a href="#"><img src="https://www.konicaminolta.jp/business/common/img/megamenu/btn_mega_close.png" width="19" height="19" alt="close" /></a></p>

                    <p class="h01">サポート</p>
                    <p>よくあるご質問、OS対応状況、お問い合わせ窓口を掲載しています。</p>

                    <div class="line">
                        <div class="colL">
                            <ul class="linkList">
                                <li><a href="/business/support/faq.html"><img src="https://www.konicaminolta.jp/business/common/img/megamenu/img_031.gif" width="180" height="135" alt=""><span>よくあるご質問</span></a></li>
                                <li><a href="/business/support/contact.html"><img src="https://www.konicaminolta.jp/business/common/img/megamenu/img_032.gif" width="180" height="135" alt=""><span>お問い合わせ</span></a></li>
                                <li><a href="/business/support/compatible.html"><img src="https://www.konicaminolta.jp/business/common/img/megamenu/img_033.gif" width="180" height="135" alt=""><span>OS対応状況</span></a></li>
                            </ul>

                            <ul class="linkList">
                                <li><a href="/business/support/important/index.html"><span>重要なお知らせ</span></a></li>
                            </ul>

                            <p class="topPageLink"><a href="/business/support/index.html"><img src="https://www.konicaminolta.jp/business/common/img/megamenu/bnr_003.gif" width="155" height="28" alt="サポートトップページ"></a></p>
                            <!-- / .colL -->
                        </div>


                        <div class="colR">
                            <p class="h02">
                                <a href="/business/support/index.html#supportSearch">
                                    かんたんサポートナビ<br>
                                    <img src="https://www.konicaminolta.jp/business/common/img/megamenu/img_034.jpg" width="330" height="110" alt="">
                                </a>
                            </p>
                            <p>かんたんサポートナビでは製品カテゴリからサポート情報を素早く、簡単にお探しいただけます。</p>
                            <!-- / .colR -->
                        </div>
                        <!-- / .line -->
                    </div>
                    <!-- / .section -->
                </div>
                <!-- end Support -->
                <!-- begin Download -->
                <div class="section download">
                    <p class="windowClose"><a href="#"><img src="https://www.konicaminolta.jp/business/common/img/megamenu/btn_mega_close.png" width="19" height="19" alt="close" /></a></p>

                    <p class="h01">ダウンロード</p>
                    <p>各製品のドライバーやアップデートプログラム、関連ユーティリティー、ソフトウェアなどのダウンロードができます。 </p>


                    <div class="line">
                        <div class="colL">
                            <p class="h02">
                                <a href="/business/download/index.html#easyNavi">
                                    かんたんダウンロードナビ<br>
                                    <img src="https://www.konicaminolta.jp/business/common/img/megamenu/img_038.jpg" width="330" height="110" alt="">
                                </a>
                            </p>
                            <!-- / .colR -->
                        </div>

                        <div class="colR">
                            <p>製品カテゴリからダウンロード情報を素早く、簡単にお探しいただけます。</p>
                            <ul>
                                <li>プリンタードライバー</li>
                                <li>関連ユーティリティー</li>
                                <li>ソフトウェア</li>
                                <li>カタログ（PDF形式）</li>
                                <li>ユーザーズガイド/取扱説明書（PDF形式）</li>
                            </ul>

                            <p class="topPageLink"><a href="/business/download/index.html"><img src="https://www.konicaminolta.jp/business/common/img/megamenu/bnr_005.gif" width="172" height="28" alt="ダウンロードトップページ"></a></p>
                            <!-- / .colL -->
                        </div>
                        <!-- / .line -->
                    </div>


                    <div class="btnArea">
                        <ul>
                            <li><a href="/business/support/contact.html"><img src="https://www.konicaminolta.jp/business/common/img/megamenu/btn_002.gif" width="132" height="45" alt="お問い合わせ"></a></li>
                            <li><a href="/business/support/compatible.html"><img src="https://www.konicaminolta.jp/business/common/img/megamenu/btn_006.gif" width="132" height="45" alt="OS対応状況"></a></li>
                        </ul>
                        <!-- / .btnArea -->
                    </div>
                    <!-- / .section -->
                </div>
                <!-- end Download -->
                <!-- begin about -->
                <div class="section about">
                    <p class="windowClose"><a href="#"><img src="https://www.konicaminolta.jp/business/common/img/megamenu/btn_mega_close.png" width="19" height="19" alt="close" /></a></p>
                    <p class="h01">会社情報</p>

                    <div class="line">
                        <div class="colL">
                            <p class="h02"><a href="/business/about/bj/index.html">コニカミノルタジャパン株式会社</a></p>
                            <ul class="linkList">
                                <li><a href="/business/about/bj/outline.html">会社概要</a></li>
                                <li><a href="/business/about/bj/access.html">本社へのアクセス</a></li>
                                <li><a href="/business/about/bj/office.html">営業所、サービス拠点のご案内</a></li>
                                <li><a href="/business/about/bj/recruit/index.html">採用情報</a></li>
                                <li><a href="/business/about/bj/contact.html">お問い合わせ</a></li>
                            </ul>
                            <!-- / .colL -->
                        </div>

                        <!-- / .line -->
                    </div>

                    <div class="line">
                        <p class="topPageLink"><a href="/business/about/bj/index.html"><img src="https://www.konicaminolta.jp/business/common/img/megamenu/bnr_004.png" width="155" height="28" alt="会社情報トップページ"></a></p>
                        <!-- / .line -->
                    </div>
                    <!-- / .section -->
                </div>
                <!-- end about -->
                <!-- /#megaMenu -->
            </div>
            <!-- +++ megamenu +++ -->
            <div class="skipLink">
                <p><a id="anchorContents"></a></p>
                <!-- / .skipLink -->
            </div>


            <cms:CMSWebPartZone ZoneID="HeadHTMLZone" runat="server" />
            <div class="content-wrapper">
                <cms:CMSWebPartZone ZoneID="HeaderZone" runat="server" />
                <section class="content-inner">
                    <cms:CMSWebPartZone ZoneID="ContentZone" runat="server" />
                    <!-- / #contentsInner -->
                </section>
                <!--/content-wrapper-->
            </div>

            <cms:CMSWebPartZone ZoneID="HeadHTMLZone" runat="server" />
            <div class="content-wrapper">
                <cms:CMSWebPartZone ZoneID="HeaderZone" runat="server" />
                <section class="content-inner">
                    <cms:CMSWebPartZone ZoneID="ContentZone" runat="server" />
                    <!-- / #contentsInner -->
                </section>
                <!--/content-wrapper-->
            </div>

            @Html.Kentico().EditableArea("HeadHTMLZone", defaultSectionIdentifier: null, allowedWidgets: new[] { "FY19.HeadHTML" })
            @Html.Kentico().EditableArea("HeaderZone", defaultSectionIdentifier: null, allowedWidgets: new[] { "FY19.H2Header", "FY19.H3Header", "FY19.H4Header" })
            <div id="contentsArea" class="content-wrapper">
                <div id="contentsInner" class="content-inner content-inner-top">
                    <div class="main">

                        @Html.Kentico().EditableArea("ContentZone")

                        <div class="footer-btn">

                            <div class="footer-btn__wrapper">

                                <div class="footer-btn-content">
                                    <p class="footer-btn-content__txt">
                                        総合カタログ、サービス別カタログ（PDF）をダウンロード
                                        することができます。
                                    </p>

                                    <p class="footer-btn-content__link"><a href="/business/service/it-guardians/catalog/index.html">カタログダウンロード</a></p>
                                </div>

                                <div class="footer-btn-content">
                                    <p class="footer-btn-content__txt">
                                        商品およびサービスについてご不明な点等ございましたら、
                                        お気軽にお問い合わせください。
                                    </p>

                                    <p class="footer-btn-content__link"><a href="https://bsoffers.konicaminolta.jp/fm-it-guardians-contact.html" target="_blank">お問い合わせ</a></p>
                                </div>

                            </div>

                        </div>

                        <nav class="footer-navigation">
                            <ul>
                                <li><a href="/business/service/it-guardians/index.html">TOP</a></li>
                                <li><a href="/business/service/it-guardians/index.html#itg-solution">課題解決</a></li>
                                <li><a href="/business/service/it-guardians/helpdesk/index.html">ヘルプデスク</a></li>
                                <li><a href="/business/service/it-guardians/service/index.html">サービス一覧</a></li>
                                <li><span>ニュース</span></li>
                                <li><a href="/business/user_case/solution_service_products/it_guardians/index.html" target="_blank">導入事例</a></li>
                                <li><a href="/business/support/index.html" target="_blank">サポート情報</a></li>
                                <li><a href="https://bsoffers.konicaminolta.jp/fm-it-guardians-contact.html" target="_blank">お問い合わせ</a></li>
                                <li><a href="/business/support/it-guardians/products/it_support/index.html" target="_blank">よくあるご質問</a></li>
                                <!--<li><span></span></li>-->
                            </ul>
                        </nav>

                        <div class="to-top"><p><a href="#top"><span></span></a></p></div>

                    </div>
                </div>
            </div>
            <!-- Start of Konica Minolta_Cvtag, Konica_Information equipment_RTtag and Pandora_tag for Web Ad Trucking -->
            <script language='JavaScript1.1' src='//pixel.mathtag.com/event/js?mt_id=679956&mt_adid=135663&v1=&v2=&v3=&s1=&s2=&s3='></script>

            <script language='JavaScript1.1' src='//pixel.mathtag.com/event/js?mt_id=681494&mt_adid=135663&v1=&v2=&v3=&s1=&s2=&s3='></script>

            <script type="text/javascript">
                function PAGODA_prepClient(fn) {
                    fn.setClientCode('konicaminolta');
                    if (typeof (PAGODA_conversion) == "function") { PAGODA_conversion(fn); }
                }
                var host = (("https:" == document.location.protocol) ? "https://ssl" : "http://s") + '.pagoda56.com';
                document.write(unescape("%3Cscript src='" + host + "/pagoda/pagoda.js' type='text/javascript'%3E%3C/script%3E"));</script>
            <!-- End of Konica Minolta_Cvtag, Konica_Information equipment_RTtag and Pandora_tag for Web Ad Trucking -->
            <!-- Start of Konica Inc._LinkedInInsightTag -->
            <script type="text/javascript">_bizo_data_partner_id = "7603";</script>
            <script type="text/javascript">
                (function () {
                    var s = document.getElementsByTagName("script")[0];
                    var b = document.createElement("script");
                    b.type = "text/javascript";
                    b.async = true;
                    b.src = (window.location.protocol === "https:" ? "https://sjs" : "http://js") + ".bizographics.com/insight.min.js";
                    s.parentNode.insertBefore(b, s);
                })();</script>
            <noscript>
                <img height="1" width="1" alt="" style="display:none;" src="//www.bizographics.com/collect/?pid=7603&fmt=gif" />
            </noscript>
            <!-- end of Konica Inc._LinkedInInsightTag -->
            <footer>
                <article>
                    <ul class="leftNav">
                        <li><a href="https://www.konicaminolta.jp/siteinfo/terms.html">サイトのご利用について</a></li>
                        <li><a href="https://www.konicaminolta.jp/business/siteinfo/privacypolicy.html">個人情報保護方針</a></li>
                        <li><a href="https://www.konicaminolta.jp/siteinfo/sitemap.html">サイトマップ</a></li>
                    </ul>
                    <ul class="leftNav pcTop"><li><a href="https://www.konicaminolta.jp/">コニカミノルタトップページへ</a></li></ul>
                    <ul class="rightNav">
                        <li><a href="https://www.konicaminolta.jp/about/index.html">コニカミノルタグループについて</a></li>
                        <li><a href="https://www.konicaminolta.jp/about/csr/index.html">CSR（社会・環境活動）</a></li>
                    </ul>
                </article>
                <p class="copyright"><small>&copy;2011-2019 KONICA MINOLTA JAPAN, INC.</small></p>
                <script type="text/javascript" charset="UTF-8" src="https://www.konicaminolta.jp/js/ext/sug.js#sv=//s.marsfinder.jp/konicaminolta__jp_business__jp_business&amp;input=search"></script>

                <p id="page-top"><a href="#anchorPagetop"><img src="https://www.konicaminolta.jp/business/common/img/navi/pagetop.png" width="70" height="50" alt="このページのトップへ"></a></p>

            </footer>
        </div>

    </form>
    @* See ~/App_Start/ApplicationConfig.cs, ~/Controllers/HomeController.cs and ~/Views/Home/Index.cshtml
        Uncomment the following line to add <script> tag referencing the Page builder script bundle. *@
    <script src="https://cdn.ckeditor.com/4.11.4/full-all/ckeditor.js"></script>
    @Html.Kentico().PageBuilderScripts()
    @Html.Kentico().PageBuilderStyles()

    @Scripts.Render("~/bundles/scripts")

    @* Registers scripts that ensure logging of analytics data for A/B tests *@
    @Html.Kentico().ABTestLoggerScript()
</body>
</html>