@using Kentico.PageBuilder.Web.Mvc
@using Kentico.OnlineMarketing.Web.Mvc
@using Kentico.Web.Mvc
@using FY19.Models.PageTemplates
@model ComponentViewModel<PageTemplateProperties>

@{
    string title = string.Empty;
    string hiddenClass = string.Empty;

    if (Model.Properties.PageTitle != null)
    {
        title = Model.Properties.PageTitle;
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta name="view" content="width=device-width" />
    <title>@title</title>
</head>
<body>
    <h1>ITG Sitemap</h1>
    <div>
        To View Sitemap Browse "domainname/itg-sitemap.xml" or <a href="~/Content/itg-sitemap.xml">Click Here</a>
    </div>
</body>
</html>

@Html.Kentico().PageBuilderScripts()
@Html.Kentico().PageBuilderStyles()

@Scripts.Render("~/bundles/scripts")

@* Registers scripts that ensure logging of analytics data for A/B tests *@
@Html.Kentico().ABTestLoggerScript()